# --- Terraform ---
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
tfplan

# --- Credenciales y llaves ---
*.pem
*.pub
*.rsa
gh_token.txt
.env

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# --- IDEs y Sistema ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Documentación temporal o pruebas ---
/local_testing/
docu_modos.txt
infoabout.md
plan.md
Nuevo Documento de texto.txt
logs.txt
laststeps.txt