gh_token.txt
/.venv
/.git
/cap_testing
docu_modos.txt
vockey.pem
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
vockey.pem
*.pem
*.rsa
.env
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.DS_Store
Thumbs.db
man-server
chat
venv